.hidden{display:none;}

body{background:#f5f5f5}
body,body *{margin:0;padding:0;box-sizing: border-box;}
span{font-size:inherit;}
ul, li{list-style: none;font-size:16px;margin:5px 0;}
section{text-align: center;padding:150px;flex-direction: column;background:#fff;height:60vh;width:80%;max-width:700px;display:flex;align-items: center;justify-content: center;margin:100px auto;}
input{font-size:16px;height:40px;line-height: 40px;width:100%;padding:5px 10px;border:0;border-radius:5px;display:block;margin:5px 0;border:1px solid #ddd;}
button{font-size:16px;height:35px;line-height: 35px;width:100%;padding:5px 10px;border:0;border-radius:5px;display:block;margin:5px 0;background:#ff6000;color:#fff;outline: 0;display: flex;align-items: center;justify-content: center;}
form{width:100%;}

.secTitle{font-size:30px;margin-bottom:15px;}

#sec3 ul {width:100%;}
#sec3 ul li{padding:5px;border-bottom:1px dashed #ddd;display: flex;display: flex;align-items: center;justify-content: space-between;width: 100%;}
#sec3 ul li button{width:40px;height:40px;}
#sec4 #quote {font-size: 20px;line-height: 1.25;}
#sec4 p:first-child{margin-bottom:10px;}
#sec6 button{background:#fff;border:1px solid #000;color:#000;}
